{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "styled-components"
    ],
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "@components": "./src/components",
          "@modules": "./src/modules",
          "@views": "./src/views",
          "@utils": "./src/utils",
          "@assets": "./src/assets",
          "@api": "./src/api",
          "@src": "./src"
        }
      }
    ],
    [
      "transform-class-properties"
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}